<a href="https://colab.research.google.com/github/ElMonteJuan/Programacio-i-robotica-1r-de-batxillerat/blob/main/Activitat%204.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from os import remove
ingredientes = ["pa", "llet", "peix", "nutella", 4, 15, "cervesa"]

print (str(ingredientes))
print (ingredientes[2])
del ingredientes[3]
print (str(ingredientes))
print (ingredientes[5])
ingredientes.insert(3, "caco")
print (str(ingredientes))
print (len(ingredientes))

['pa', 'llet', 'peix', 'nutella', 4, 15, 'cervesa']
peix
['pa', 'llet', 'peix', 4, 15, 'cervesa']
cervesa
['pa', 'llet', 'peix', 'caco', 4, 15, 'cervesa']
7

In [ ]:
#Crearem una llista que es digui setmana que tingui els dies de dillunas a divenderes  menys el dijous.
#Despres afegirem dissabte i diumenge. Depsres posarem el dijous en el seu lloc. Un cop la
#setmana completa, afegirem el divendres(3). Li demanarema la variable cuants divendres hi ha a la llista,
#despres eliminarem els divendres que sobrin. I depsres farem un text que es vegi el nombre de divendres que hi havia
# abans d'esborrar-los.

semana = ["lunes",  "martes", "miercoles", "viernes"]
print (semana)
semana.append("sabado")
semana.append("domingo")
print (semana)
semana.insert(4, "jueves")
print (semana)
semana.append("viernes")
semana.append("viernes")
semana.append("viernes")
print (semana)
print ("En total hay ", (semana.count("viernes")), "viernes.")
del semana[9]
del semana[8]
del semana[7]
print (semana)

['lunes', 'martes', 'miercoles', 'viernes']
['lunes', 'martes', 'miercoles', 'viernes', 'sabado', 'domingo']
['lunes', 'martes', 'miercoles', 'viernes', 'jueves', 'sabado', 'domingo']
['lunes', 'martes', 'miercoles', 'viernes', 'jueves', 'sabado', 'domingo', 'viernes', 'viernes', 'viernes']
En total hay  4 viernes.
['lunes', 'martes', 'miercoles', 'viernes', 'jueves', 'sabado', 'domingo']

In [ ]:
nose = range(32, 16, -2)
for i in nose:
  print(i)

32
30
28
26
24
22
20
18

In [ ]:
lista1 = [7, 5, 28, 12, 11, 0, 4]
print (max(lista1))
print ("-------------------------")
print (min(lista1))
print ("")
print (sum(lista1))

28
-------------------------
0

67

In [ ]:
abc = "abcdefghijklmnopqrstuvwxyz"
print (abc)
ABC = abc.upper()
print (ABC)

abcdefghijklmnopqrstuvwxyz
ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [ ]:
# FEU EL LLISTAT SEGUENT ROGER LIDIA NEUS MARC ANA ARNAU HECTOR SILVIA PRINTAR LA PERSONA ES DIU: NOM
nombres = ["Roger", "Lidia", "Neus", "Marc", "Ana", "Arnau", "Hector", "Silvia"]
contador = 0
for name in nombres:
  if contador < 8:
    print (f"Es diu: {name}")
    contador += 1
  else:
    break

print ("")

Contador = 0
Nombres = [element.upper() for element in nombres]
NOmbres = ''.join(Nombres)
print (NOmbres)

numa = 0
letra = "A"
contar = NOmbres.count(letra)
print (f"En total hay {contar} A.")

Es diu: Roger
Es diu: Lidia
Es diu: Neus
Es diu: Marc
Es diu: Ana
Es diu: Arnau
Es diu: Hector
Es diu: Silvia

ROGERLIDIANEUSMARCANAARNAUHECTORSILVIA
En total hay 7 A.